@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;600;800&family=Poppins:wght@100;200;300;400;500;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
:root{
    --padding: 2rem;
}
*{
    margin: 0;
    padding: 0;
   
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  height: 100%;
  width: 100%;
  color: white;


}
button{
    transition: all .2s ease-in-out;
    background-color: inherit;
    border: none;
}
button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
img{
    width: 100%;
    object-fit: cover;
}
main {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rapper {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    height: 100%;
    width: 98%;
    margin-block:1rem ;
     margin-inline: auto;
    box-sizing: border-box;
   
}
.rapper::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: -1;
}
  

.rapper > img{
    height: 100%;
}
.backgroud-img{
    position: absolute;
    z-index: -1;
}
nav{
    display: flex;
    padding-inline: var(--padding);
    justify-content: space-between;
    padding-block: 1rem;
    align-items: center;

}
.navigation-icon{
    flex: 1 1 0
}
.navigation-icon ul {
    display: flex;
    list-style: none;
    padding: .4rem;
    border-radius: 2rem; 
    background-color: rgb(255, 255, 255,.7);
    align-items: center;
    width: max-content;
 

}
.navigation-icon ul li{
  
    border-radius: 50%;
    padding: 0.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline-end: .4rem;
    transition: all .2s ease-in-out;
    border: solid 1px transparent;
}


.navigation-icon ul li:hover{
   
    border-color: rgb(255, 255, 255);
    transform: scale(1.05);
    cursor: pointer;
}
.selected{
    background-color: white;
}
.navigation-icon ul li:nth-last-child(1){
    margin-inline-end: 0;
}

.navigation-icon ul li img {
    width: 24px;
    height: 24px;
}
.mobile-nav{
    display: none !important;
}
.logo{
    display: flex;
    flex: 1 1 0;
    justify-content: center;

    
}
.logo img{
    width: 32px;
    height: 32px;
}
.right-navigation{
    display: flex;
    flex: 1 1 0;
    justify-content: flex-end;

}
.right-navigation > div{
    background-color: rgb(255, 255, 255,.7);
    border-radius: 2rem;
    display: flex;

}
.right-navigation > div button{
  border: none;
  background-color: transparent;
  padding: 1rem 2rem;
  font-weight: bold;
}
.log-in{  
    background-color: white !important;
    border-radius: 2rem;
}
.header {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header p {
    text-align: center;
   font-size: 5rem;
   color: white;
   line-height: 120%;
   font-family: "Playpen Sans", cursive;
   font-weight: bold;
   padding: 2rem;
   border-radius: 2rem;
   -webkit-text-stroke: 1px rgba(255, 255, 255, 0.476);
   text-shadow: 0px 2px 5px rgba(57, 60, 255, 0.8);
}
.title-color-2{
    color: rgb(144 153 249 / 70%);
    text-shadow: 0px 2px 5px rgba(57, 60, 255, 0.8);
    font-size: 7rem;

}
.title-color {
    font-size: 8rem;
}
.body-content{
    display: flex;
    width: 100%;
    margin-top: 4rem;
}

.body-content-left {
    width: 60%;
    position: relative;
    padding-left: var(--padding);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.podcast-glass{
    background-color: aliceblue;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 10px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 50%;
min-width: 400px;
position: relative;
z-index: 10;

}
.body-content-right {
    width: 40%;
}
.podcast-glass-info{
    display: flex;
    color: black;
    align-items: center;
}
.podcast-profile-pic{
    width: 64px;
    border-radius: .5rem;
    aspect-ratio: 1/1;

}
.podcast-middle{
 margin-left: 1rem;
}
.podcast-name{
    font-weight: bold;
}
.podcast-duration,.podcast-glass-bar-cont p{
    color: rgba(0, 0, 0, 0.67);
    font-size: 14px;
}
.audio-icon{
    width: 32px;
    height: 32px;
    margin-left: auto;
}
.podcast-glass-bar-cont{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding-block:1rem;

}
.podcast-glass-bar-cont p{
   
}
.podcast-glass-bar{
    height: 3px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.828);
    width: 100%;
    position: relative;

}
.podcast-glass-bar::after{
    position: absolute;
    content: "";
    width: 80%;
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);  
    top: 0;
    left: 0;
    height: 3px;
    border-radius: 3px;
    
}

.podcast-glass-buttons{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.podcast-glass-buttons img {
    width: 48px;
}
.music-photo{
    position: absolute;
    left: 10%;
    top:-4rem;
    z-index: 1;
    width: 128px;
    border-radius:8px;
}
.music-photo-2{
    position: absolute;
    left: 5%;
    top:10rem;
    z-index: 1;
    width: 128px;
    border-radius:8px;
}
.body-content-right{
    background-color: white;
    padding: 1rem 1rem 1rem 0;
    color: black;
    /* width: 50%; */
    position: relative;
    border-top-left-radius: 2rem;
}
.body-content-right::before{
    position: absolute;
    content: "";
    width: 2rem;
    height: 2rem;
    background-image: radial-gradient(circle at 100% 100%, transparent 2rem,rgb(255, 255, 255) 2rem);
    bottom: 0;
    left: -2rem;
    transform: rotate(180deg);
    z-index: 10;
 }
.body-content-right::after{
    position: absolute;
    content: "";
    width: 2rem;
    height: 2rem;
    background-image: radial-gradient(circle at 100% 100%, transparent 2rem,rgb(255, 255, 255) 2rem);
    top: -2rem;
    right: 0;
    transform: rotate(180deg);
    z-index: 10;
 }

.body-content-right-top{
   display: flex;
   overflow-x: scroll;
   gap: 1rem;
   width: 100%;
   margin-inline: 1rem;
   padding-bottom: 1rem;
}
.body-content-right-top::-webkit-scrollbar {
      height: 5px;
      width: 100%;
      padding-inline: .5rem;
   
 
  }
  .body-content-right-top::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
   
  .body-content-right-top::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    height: 2px;
    border-radius: 5px;
  }
.podcast-cont{
    display: flex;
    padding: 1rem;
    border-radius: 1rem;
    background-color: antiquewhite;
    min-width:300px;
    aspect-ratio: 4/2;
   
}
.podcast-cont:nth-child(1){
  background-color: rgba(144, 153, 249 );
   
}
.podcast-cont:nth-child(2){
  background-color: rgba(20, 215, 195);
   
}
.podcast-cont:nth-child(3){
  background-color: rgba(238, 181, 145);
   
}
.body-content-right-botttom ul{

}
.left-podcast-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.play-button-cont{
    width: 30px;
    height: 30px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 50%;
}
.play-button-cont img {
    width: 16px;
 
}
.right-podcast-cont{
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}
.right-podcast-cont img{
  height: 100%;
}
.body-content-right-botttom{
    padding: 1rem;
    padding-top: 3rem;
}
.body-content-right-botttom ul li{
    padding-inline-start: 1rem;
    list-style-type: disclosure-closed;
    list-style-position: inside;
}
.body-content-right-botttom ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition: all .2s ease-in-out;
}
.body-content-right-botttom ul li a:hover{
    color: rgba(0, 0, 0);
    font-weight: 500;
}

@media  screen and (max-width:1100px) {
    .title-color,.title-color-2 {
        font-size: 6rem;
    }
}
@media  screen and (max-width:900px) {
    .title-color,.title-color-2 ,.header p{
        font-size: 4rem;
    }

    .body-content{
        flex-direction: column;
        gap: 4rem;
    }
    .body-content-left,.body-content-right{
        width: 100%;
    }
    .body-content-right{
        border-radius: 0;
    }
    .music-photo-2 {
        left: 60%;
        top: -6rem;
      
    }
    .body-content-right::after {
        display: none;
    }
    .laptop-menu{
        display: none !important;
    }
    .mobile-nav{
        display: flex !important;
    }

}
@media  screen and (max-width:760px) {
    .right-navigation > div button {
        padding: .5rem 1rem;
     
    }
    .title-color,.title-color-2 ,.header p{
        font-size: 2rem;
        padding: 0;
    }
    .header{
        height: 30vh
    }
    .podcast-glass{
        min-width: 300px;
       
    }
    .body-content-left{
        padding-left: 1rem ;
    }
    .navigation-icon {
        flex: unset;
        order: 2;
    }
   nav{
    padding-inline: 1rem;
   }
   .right-navigation {
    display: none;
   }
   .logo {
    display: unset;
   }
   .podcast-glass{
    width: 80%;
    min-width: unset;
   }
   .podcast-glass-buttons img {
    width: 24px;
}

}
